

{% extends 'default/front/header.html.twig' %}

    {% block container  %}

        <!--Start section large top for tabs content-->
        <div class="section-large-top">
            <div class="container" style="margin-bottom: 1000px;margin-top: 10%;margin-left: 40%">




                    <h3>Désole! Ce produit est déjà ajouté à votre wishlist.</h3>




            </div>

        </div>

    {% endblock %}




