{% extends 'default/front/header.html.twig' %}



{% block head %}
    {{ parent() }}


{% endblock %}
{% block container %}



    <div class="tz-shop" xmlns="http://www.w3.org/1999/html">
        <div class="container">

            <!--Start shop content-->
            <div class="tz-shop-content">

                <div class="shop-banner">
                    <img src="{{ asset('front/images/saddle.png') }}">
                </div>

                <div class="container">
                <h1 class="tz-tabs-title" style="margin-top: 40px; margin-bottom: 5%">Probleme du Siege</h1>

                <div>
                    <div style="margin-top: 5px;  ">
                        <div style="">
                       <h3  style=",margin-left: 2%">Manque d’air dans une fourche ressort</h3> </div>
                    </div>
                    <hr>
                    <p  style="font-family: Lato, sans-serif"> La fourche atteint régulièrement sa limite de débattement.Sur une fourche air/huile, il manque de l’air dans la chambre. Sur une fourche ressort/huile, le ressort est trop léger. </p>
                 </div>

                    <div>
                        <div style="margin-top: 5px;  ">
                            <div style="">
                              <h3  style=",margin-left: 2%"> Avant du vélo pas assez ferme</h3> </div>
                        </div>
                        <hr>
                        <p  style="font-family: Lato, sans-serif">L’avant du vélo plonge quand vous freinez car la suspension n’est pas assez ferme. En descente raide mais régulière, la roue arrière se soulève au freinage.  </p>
                    </div>

                    <div>
                        <div style="margin-top: 5px;  ">
                            <div style="">
                               <h3  style=",margin-left: 2%">Retour de fourche trop rapide.</h3> </div>
                        </div>
                        <hr>
                        <p  style="font-family: Lato, sans-serif"> Vous constatez des secousses sur la route avant en virage. Le retour de fourche est trop rapide. Réglez la vitesse du retour de fourche avec la vis de réglage adéquate. </p>
                    </div>

                    <div>
                        <div style="margin-top: 5px;  ">
                            <div style="">
                               <h3  style=",margin-left: 2%">Amortisseur arrière régulièrement use</h3> </div>
                        </div>
                        <hr>
                        <p  style="font-family: Lato, sans-serif">Sur un VTT, l’amortisseur arrière air/huile atteint régulièrement sa limite de débattement. Il n’y a pas assez ou trop d’air dans l’amortisseur ; par conséquent, le retour après chaque compression n’est pas assez rapide. </p>
                    </div>
                    <h1 class="tz-tabs-title" style="margin-top: 40px; margin-bottom: 5%">N'hesitez-plus! Apportez-nous votre velo!</h1>

                    <a   href="{{ path('rdv')}}"> <input style="margin-top: 5%" title="Passez un Rendez-vous" value="Passez un Rendez-Vous" type="submit" id="Passez un Rendez-Vous" class="btn btn-button-secondary-ct btn-lg btn-block  " >
                    </a>




                    <div class="tz-product row grid-eff">

                    <!--Product item-->

                </div>


            </div>
        </div>
    </div>

{% endblock %}
