<<<<<<< HEAD
{% extends 'default/back/header.html.twig' %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}
    {{ parent() }}

    <h1>HELLLOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</h1>
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}
=======
{% extends 'default/front/footer.html.twig' %}
{% block body %}
<h1>Blog</h1>

{% block content %}{% endblock %}
{% endblock %}

>>>>>>> d64dac61762d1bfa7858590d49fd2203050236d9
