{% extends 'default/back/header.html.twig' %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}
    {{ parent() }}

    <h1>HELLLOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</h1>
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}