<br>
<br>
<h1>CONTRAT </h1> <br>
<hr>
<h3>  ID Contrat: <br>  {{ contrat.id }} </h3> <br>
<h3> Pack : <br> {{ contrat.pack }} DT </h3> <br>
<h3>  Description : <br>{{ contrat.description }} </h3> <br>
<h6>Baskel.</h6>
